.CloseIcon{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.CloseIconLine{
  /* position: absolute; */
  display: flex;
  width: 90%;
  height: 9%;
  border-radius: 2.7vmin;
  background-color: #000000;
 
}
.CloseIcon:hover .CloseIconLine{
  background-color: #0090a7;
  width: 81%;
}

#CloseIconLine0{
  transform: rotate(45deg);
  transform-origin: 33% 106%;
}
#CloseIconLine1{
  transform: rotate(-45deg);
  transform-origin: 53% 77%;
}
.CloseIcon:hover #CloseIconLine0{
  transform: rotate(-45deg);
  transform-origin:68% 129%
}
.CloseIcon:hover #CloseIconLine1{
  transform: rotate(45deg);
  transform-origin:44% 70%;
}
.CloseIconUnderLine{
  display: flex;
  /* justify-self: flex-end; */

  /* position: absolute; */
  margin-top: 9%;
  height: 5.4%;
  border-radius: 9vmin;
  background-color: #0090a7;
}

.CloseIcon:hover .CloseIconUnderLine{
  /* width: 108%; */
  box-shadow: 0vmin 0vmin 1.8vmin #0090a7;
}

