.MenuIcon{
  display: flex;
  flex-direction: row;
  align-items: center;
/* background-color: aqua; */
  cursor: pointer;
  
}
.TitleMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2.7vmin;
  /* background-color: rgb(173, 233, 233); */

}

.UnderLineMenu{
  display: flex;
  margin-top: 0.27vmin;
  width:0%;
  height: 0.45vh;
  background-color: #008888;
  box-shadow: 0vmin 0vmin 1.8vmin #008888;
  border-radius: 90vmin;
}
.MenuIcon:hover .UnderLineMenu{
  width:108%;
  height: 0.45vh;
}
.MenuIcon:hover .TitleMenu{
  color: #008888;
}


/* ----------- Icon Menu ------- */
.IconMenu{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 9vmin;
  height: 9vmin;
  cursor: pointer;
  margin-left: 0.9vw;
}

.MenuIcon:hover .IconMenu{
  transform: scale(1.1);
}
.ElementIconMenu{
  display: flex;
  width: 100%;
  height: 12.6%;
  border-radius: 1.8vmin;
  
  background-color: #000;

}

.MenuIcon:hover #ElementIconMenustyle0{
  animation:IconMenuHover0 1.26s linear infinite ;
}
.MenuIcon:hover #ElementIconMenustyle1{
  animation:IconMenuHover1 1.26s linear infinite ;
}
.MenuIcon:hover #ElementIconMenustyle2{
  animation:IconMenuHover2 1.26s linear infinite ;
}


@keyframes IconMenuHover0{
  0%{ width: 100%; 
  }25%{width: 20%;   border-radius: 3.6vmin; 
    background-color: #008888;
 
  }100%{ width: 100%; }
}
@keyframes IconMenuHover1{
  0%{width: 100%;
  }50%{width: 20%; border-radius: 3.6vmin;  
     background-color: #008888;
   
  }100%{width: 100%;}
}
@keyframes IconMenuHover2{
  0%{width: 100%;
  }75%{width: 20%;  border-radius: 3.6vmin; 
    background-color: #008888;

  }100%{width: 100%;}
}

#ElementIconMenustyleClick{
  animation: IconMenuHover1 0.9s linear;
  width: 110%;
  background-color: #008888;
  box-shadow: 0vmin 0vmin 0.63vmin #008888;  
}
.MenuIcon:hover  #ElementIconMenustyleClick{
  box-shadow: 0vmin 0vmin 0.9vmin #008888;  
}

@media only screen and (max-width:600px){
  .TitleMenu{
    font-size: 0vmin;
  }
}
