.MenuBarTop{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: sticky;
  top: 0%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  height: 7.2vmin;
  box-shadow: 0.63vmin 0.63vmin 2.1vmin rgba(15, 15, 15, 0.685) ;
  z-index: 4;
}

.MenuBarTopLogo{
  margin-left: 0.9vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 2.7vmin;
  user-select: none;

}



.MenuBarTopMenu{
  margin-right:2.16vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 2.7vmin;
  user-select: none;

}
.MenuTopBarDate{
  user-select: none;
}


@media only screen and (max-width:600px){
  .MenuBarTop{
    height: 5.4vmax;
  }
  .MenuBarTopLogo{
    font-size: 0vmin;
    margin-right:5.4vw;
  }
  
}