.DateMenuTop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: max-content;

}
.DateMenuTopText{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: max-content;
  font-size: 2.7vmin;
}

/* .DateMenuTop:hover .DateMenuTopText{
  color:#008888;
} */

.UnderLineDate{
  display: flex;
  margin-top: 0.27vmin;
  width:0%;
  height: 0.45vh;
  background-color: #0090a7;
  box-shadow: 0vmin 0vmin 1.8vmin #0090a7;
  border-radius: 90vmin;
}
.DateMenuTop:hover .UnderLineDate{
  width:99%;
}
