.GalleryImageItem{
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  
  min-width: 15vmax;
  min-height: 18vmax;
  flex: 1 1;
  margin: 1.8vh 1.26vw;
  border-radius: 9vmin;

  background-color: #fff;
  box-shadow: 0vmin 0vmin 3.6vmin 1.8vmin #c7c7c7ea;
  cursor: pointer;
 
}
.GalleryImageItem:hover{
  box-shadow: 0vmin 0vmin 2.7vmin 0.18vmin #053333f1;
  border-radius: 0.63vmin;
}

/* ----------- item area img control -------- */
.GalleryImageItemArea{
  display: flex;
  width: 100%;
  height: 90%;
  border-radius: 0.63vmin 0.63vmin 0vmin 0vmin;
  overflow: hidden;


}
.GalleryImageItemImg{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}

.GalleryImageItem:hover .GalleryImageItemImg{
  width: 117%;
  height: 117%;
} 

/* ------- control area -------- */
.GalleryImageIteControlArea{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.8vmin 1.8vmin;
  border-radius: 0.9vmin;
  background-color: #008888;
  box-shadow: 0.36vmin 0.36vmin 1.8vmin #141414;
  
}

.GalleryImageIteControlFullScreenArea{
  display: flex;
  cursor: pointer;
  margin: 0.63vmin;
  width:  4.5vmin;
  height: 4.5vmin;
  
}

/* ------butotm Area ------- */


.GalleryImageItemContentTitleClose{
  position: absolute;
  right: 1.8%;
  top:0.9%;
  width: 4.5vmin;
  height:4.5vmin; 
}

/* --------- content -------  */
.GalleryImageItemContent{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
}
.GalleryImageItemContentTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: #fff;
  background-color: #008888;
  font-size: 2.7vmin;
  border-radius: 0vmin 0vmin 0.63vmin 0.63vmin;
}

.GalleryImageItemContentTitleIcon{
  display: flex;
  width: 0vmin;
  margin: 1.16vmin 1.8vmin;
  margin-right: 0.36vw;
  font-size: 2.07vmin;
  transform: scale(0);
}
.GalleryImageItem:hover .GalleryImageItemContentTitleIcon{
  width: 1.8vmin;
  transform: scale(1);
}


.GalleryImageItemContentTitleName{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0.9vh 0.72vw;
  margin-left: 0.27vh ;
}



/* ----------- Info -------- */
.GalleryImageItemContentInfoArea{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;

  width: 90%;
  height: 90%;
  border-radius: 0.9vmin;
  animation: init 2s linear;

}
.GalleryImageItemContentInfoDescription{
  color: #008888;
  margin:1.8vh 0vw;
  font-size:3.6vmin;
  font-family: 'belgrano';
  cursor: text;
  animation: initBoxgalleyFont 0.63s linear;
}

.GalleryImageItemContentInfoDescriptionText{
  color: hsl(0, 0%, 0%);
  margin:1.8vh 0vw;
  font-size:2.7vmin;
  font-family: 'belgrano';
  cursor: text;
  animation: initBoxgalleyFont 0.63s linear;
}

/* author */
.GalleryImageItemContentInfoAuthor{
  display: flex;
  justify-self: self-end;
  align-self: flex-end;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  animation: initBoxgalleyFont 0.9s linear;
}

.GalleryImageItemContentInfoNameAuthor{
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  
}
.GalleryImageItemContentInfoNameText{
  display: flex;
  flex-direction: row;
  align-items: center ;
}
.GalleryImageItemContentInfoNameUnderline{
  width: 0%;
  height: 0.45vh;
  background-color: #008888;
  box-shadow: 0vmin 0vmin 1.8vmin #008888;
  border-radius: 90vmin;
  
}
.GalleryImageItemContentInfoNameAuthor:hover 
.GalleryImageItemContentInfoNameUnderline{
  width: 100%;
}

/* ------  styles ------- */

@keyframes initBoxgalleyFont{
  0%{
    opacity: 0;
    font-size: 0vw;
    transform: scale(0);
  }
  50%{
    opacity: 0;
    font-size: 0vw;
    transform: scale(0);
  }100%{
    opacity: 1;
    font-size: 2.7vmin;
    transform: scale(1);
  }

}

/* ---------- media --------------- */

@media only screen and (max-width:700px){
  .GalleryImageItemContentTitleClose{
    width: 4.5vmin;
    height:4.5vmin; 
  }
} 