.ItemDescription{
  margin: 0.9vh 0vw;
}

.ItemDescriptionType{
  color: #008888;
  font-weight: 600;
  font-size: 2.7vmin;
  margin-right: 0.54vw;
  cursor: text;
  font-family: 'belgrano';
  animation: initBoxGalleryFont 0.9s linear;
}

.ItemDescriptionValue{
  font-size: 2.16vmin;
  /* transform: scale(0.4); */
  color: #535353;
  cursor: text;
  font-family: 'belgrano';
  animation: initBoxGalleryFont 0.9s linear;
}