.ItemBoxMenuItem{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 1.8vh 0.9vw ; 
  padding: 0.9vh 0vw ;
  padding-right: 1.62vw;
  padding-left: 0.36vw;
  background-position: center;
  background-repeat: no-repeat;
  
  font-size: 2.7vmin;

  border-radius: 9vmin;

  cursor: pointer;

}
.ItemBoxMenuItem:hover{
  transform: scale(1.08);
  color: #fff;

  background-color: #0090a7;
  border-radius: 0.36vmin;
  
  
  box-shadow: 0.36vmin 0.36vmin 1.8vmin #000000a4;
  background-image: radial-gradient(circle, #0090a7 31%,#0090a7 32%, #ffffff 60%);

  background-size: 1000% 1000%;

  animation: centerBackgroundColorRadialWhite 1.08s linear ;
}




/* --------- span ➤ ---------  */

.ItemBoxMenuItem .ItemBoxMenuItemIcon{
  transform: scale(0.5);
  color:#fff;
  font-size: 2.7vmin;
  margin-right: 0.63vw;
  opacity: 0;
}

.ItemBoxMenuItem:hover .ItemBoxMenuItemIcon{
  transform: scale(1);

  opacity: 1;
}

/* ----------------- */

@media only screen and (max-width:630px){
  .ItemBoxMenuItem{
    font-size: 3.6vmin;
    margin: 1.8vh 3.6vw ;
  }

  .ItemBoxMenuItem .ItemBoxMenuItemIcon{

    font-size: 3.6vmin;
    margin:0vh 0.9vw;
 
  }
  
}