*{
  margin: 0px;
  padding: 0px;
  transition: 0.45s;
  font-size: 2.7vmin;
}
body {
  margin: 0;
  font-family: 'Comfortaa' , -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #ffffff;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------ set font  -------------- */

@font-face{
  font-family: 'Comfortaa';
  src: url(./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf)
}
@font-face{
  font-family: 'Belgrano';
  src: url(./fonts/Belgrano/Belgrano-Regular.ttf)
}


/* ----- set style tags --------- */

a{
  text-decoration: none;
  color: #000;
}

li{
  list-style: none;
}

/* --------------- zapala style --------- */

::selection{
  color: #fff;
  background-color: #0090a7;
}
::-webkit-scrollbar{
  background-color: transparent;
  max-width: 0.54vw;
  max-height: 0.6vh;
  cursor: pointer;

}
::-webkit-scrollbar-button{
  max-height: 0%;
}
::-webkit-scrollbar-track{
  background-color: #e6dde9;
  cursor: pointer;
}
::-webkit-scrollbar-track-piece  {
  background-color: #ffffff00;
  cursor: pointer;

}
::-webkit-scrollbar-thumb        {
  background-color: #0091a7;
  box-shadow: 0vw 0vw 0.63vw 0.9vw #0090a7;
}
::-webkit-scrollbar-corner       {
  background-color: #461aaa;
}
::-webkit-resizer                {
  background-color: #ffffff;
}

/* ---------animations ------------ */
@keyframes initWait{
  0%{
    margin:0vw;
    transform: scale(0);
    opacity: 0;
    
  }72%{
    margin:0vw;
    transform: scale(0);
    opacity: 0;

  }100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes init{
  from{
    transform: scale(0);
    opacity: 0;    
  }to{
    transform: scale(1);
    opacity: 1;
  }
}