*{
  margin: 0px;
  padding: 0px;
  transition: 0.45s;
  font-size: 2.7vmin;
}
body {
  margin: 0;
  font-family: 'Comfortaa' , -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #e3e3e3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------ set font  -------------- */

@font-face{
  font-family: 'Comfortaa';
  src: url(./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf)
}
@font-face{
  font-family: 'Belgrano';
  src: url(./fonts/Belgrano/Belgrano-Regular.ttf)
}


/* ----- set style tags --------- */

a{
  text-decoration: none;
  color: #000;
}

li{
  list-style: none;
}

/* --------------- zpala style --------- */

::selection{
  color: #fff;
  background-color: #008888;
}

/* ---------animations ------------ */
@keyframes init{
  from{
    transform: scale(0);
    opacity: 0;
    
  }to{
    transform: scale(1);
    opacity: 1;
  }
}